

table {
/* border: 1px solid lightgray; */
}

tbody {
border-bottom: 1px solid rgb(216, 26, 26);
border-right: 5px solid rgb(216, 26, 26);
}

th {
border-bottom: 1px solid rgb(213, 13, 13);
/* border-right: 1px solid rgb(187, 26, 26); */
padding: 2px 4px;
}
  
td {
  border-bottom: 1px solid #656565;
  padding: 1vw 4px;
}